
!/.github
!/.circleci
!/.*

/build
/builder
/binding
/target
/node_modules
/.module
/package-lock.json
/Cargo.lock
/.vscode
/_*

target
dist
.module
Cargo.lock
.DS_Store
.idea
*.log
*.db
*.tmp
*.build
*.code-workspace
.warchive*
-*
